@font-face {
    font-family: Gotham Condensed;
    src: url("../fonts/GothamCondensedMedium.otf") format("opentype");
}

@font-face {
    font-family: Gotham Condensed Light;
    src: url("../fonts/GothamCondensedLight.otf") format("opentype");
}

@font-face {
    font-family: Gotham Condensed Book;
    src: url("../fonts/GothamCondensedBook.otf") format("opentype");
}

@font-face {
    font-family: Gotham Medium;
    src: url("../fonts/GothamMedium.otf") format("opentype");
}

@font-face {
    font-family: Gotham Bold;
    src: url("../fonts/GothamBold.otf") format("opentype");
}

@font-face {
    font-family: SpaceMono Regular;
    src: url("../fonts/SpaceMonoRegular.ttf");
}

@font-face {
    font-family: SpaceMono Bold;
    src: url("../fonts/SpaceMonoBold.ttf");
}

@font-face {
    font-family: SpaceMono Italic;
    src: url("../fonts/SpaceMonoRegular.ttf");
}

