@font-face {
    font-family: Gotham Condensed;
    src: url("../fonts/GothamCondensed-Medium.otf") format("opentype");
}

@font-face {
    font-family: Gotham Medium;
    src: url("../fonts/GothamMedium.otf") format("opentype");
}